{% extends 'base.html' %}

{% block content %}
    <h1>Film</h1>
<style>
    h1 {
        text-align: center;
    }
</style>
    <h2>Title: {{film.title }} <img src="{{ film.photo.url }}" height="50" width="50" class="round-image"></h2>

<style>
    .round-image {
        border-radius: 50%;
    }
</style>

    <h2>Description: {{film.description }}</h2>
    <h2>Producer: {{ film.producer.first_name}} {{book.producer.last_name}}
        <img src="{{ film.producer.photo.url }}" height="50" width="50" class="round-image"></h2>
    <h2>Actors: {{ film.actor.first_name}} {{book.actor.last_name}} - {{book.actor.pseudonym }}
        <img src="{{ film.actor.photo.url }}" height="50" width="50" class="round-image"></h2>
    <h2>Genre: </h2>
    {% for genre in film.genre.all %}
        <h2> {{ genre.name }} {% if not forloop.last %}, {% endif %}</h2>

    <h1 class="card-text">Sessions: </h1>
    {% for film_session in film.session_set.all %}
    {% if film_session.status == 'In stock' %}
        <h4 class="card-text">
            <a href="{{ film_session.get_absolute_url }}">
                {{ film_session.showing }}
            </a>
        </h4>
    {% endif %}
{% endfor %}

    {% endfor %}


{% endblock %}